<app-auth-layout>
  <a routerLink="/" class=" left-4 text-gray-600 hover:text-gray-800" aria-label="Volver">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left">
      <path d="m12 19-7-7 7-7" />
      <path d="M19 12H5" />
    </svg>
  </a>
  <div class="flex flex-col items-center justify-center gap-3">
      <h1 class="text-3xl font-bold text-center">Recuperar contraseña</h1>
    <div>
      <h2 class="intem-center text-center">
        Introduce tu correo electrónico para recibir un enlace para
        restablecer tu contraseña
      </h2>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-full" ngNativeValidate>
      <app-ui-input label="E-mail" name="email" type="email" placeholder="example@mail.com"
        formControlName="email"></app-ui-input>
      <button
        class="mt-8 flex w-full items-center justify-center space-x-2 rounded-md bg-primaryPalette px-4 py-2 text-white shadow-sm transition-all hover:opacity-90  active:scale-[0.98] p-2 disabled:opacity-80 disabled:cursor-not-allowed cursor-pointer"
        type="submit">
        Enviar
      </button>
    </form>
  </div>
</app-auth-layout>